.node-type-ticket-page{

  // clear styling
  #main{
    max-width:100%;
    background: #476377;
    margin-top: 50px;
  }
  #content{
    @include content-container;

    .note{
      color:$lightblue;
    }
  }
  header{
    display:none;
  }

  .field-type-text-with-summary{
    padding-top:50px;
  }
}



.pane-node-field-event-tickets{
  // buy tickets HOMEPAGE
  background: #476377;
  color: $lightblue;
  #ticket-field-formatter-view-form--2 {
    @include content-container;
  }
}

.entity-ticket-type {
  // ticket
  .field-name-commerce-price {
    display: inline-block;
    margin-right: 20px;
    font-size: 40px;
  }
  .form-item.form-type-textfield{
    display: inline-block;
    margin-right: 20px;
  }
  .field.field-name-ticket-type-description.field-type-text-long {
    display: inline-block;
    margin-right: 20px;
  }
}