
// Fonts
$base-font: 'Open Sans', sans-serif;
$header-font: 'Sanchez', sans-serif;


// Colors
$blue: #10507b;
$skyblue: #78b7e3;
$lightblue: #fafcfd;
$darkblue: #3b464c;
$darkerblue: #21272b;
$mediumblue:#093552;
$rust: #c77667;
$rustMedium: #975345;
$darkrust: #7f3c2f;
$links: $darkrust;

// Layout
$max-page-width: 1100px;